body {
  background-image: linear-gradient(-90deg, #AFF1DA 30%, #F9EA8F 99%);
  font-family: 'Roboto Condensed', sans-serif;
}


.grid {
  display: grid;
  grid-template-columns: 18% 70%;
  height: 100%;
  column-gap: 15px;
}

.search-bar-saved-location-container {
  display: flex;
  border-style: solid;
  padding: 7px;
  border-radius: 15px;
  border-color: #5F72BE;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
  /* width: 200px; */
}

.weather-stats-eco-tips-container {
  display: flex;
  border-style: solid;
  border-radius: 15px;
  justify-content: center;
  /* width: 50%; */
  border-color: #5F72BE;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
  flex-direction: column
}

