.eco-tips-container {
    display: flex;
    width: 70%;
    align-self: center;
    padding-bottom: 1rem;
  }

  .eco-tips-div {
    border-radius: 10px;
    border-width: 0.5px;
    border-style: solid;
    padding: 1rem;
  }

  .eco-tips-div h2 {
    font-size: 1rem;
  }

