.saved-location-container {
    display: flex;
    flex-direction: column;

}

.saved-location-cards {
    display: flex;
    border-radius: 10px;
    border-width: 0.5px;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    height: 100px;
}

.saved-location-button {
    width: 30%;
    height: 40px;
}