.weather-data-display {
  display: flex;
  border-radius: 10px;
  border-width: 0.5px;
  flex-direction: column;
  row-gap: 20px;
  padding: 1rem;
}

.current-temp-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  padding: 1rem;
  border-radius: 10px;
  border-width: 0.5px;
}

.hourly-forcast-display {
  border-style: solid;
  padding: 1rem;
  border-radius: 10px;
  border-width: 0.5px;
}

.other-forecast-info {
  border-style: solid;
  padding: 1rem;
  border-radius: 10px;
  border-width: 0.5px;
}